.calculator {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 400px;
}

.calculator__output {
  flex-basis: 100%;
  background-color: rgb(210, 218, 214);
  font-size: 40px;
}

.calculator__input {
  flex-basis: calc(100% / 3);
  color: rgb(161, 223, 192);
  background-color: rgb(117, 122, 120);
  font-size: 40px;
  outline: none;
}
